<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Music Player</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<h1> Create New Log</h1>

<div th:replace="navbar/teacherNavbar"::teacher_navbar></div>

<div th:if="${error!=null}" class="alert alert-danger" role="alert">
    <p th:text="${error}"></p>
</div>

<div class="my-8">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <form th:object="${newLog}" th:action="@{/admin/form-log}" class="my-8" method="post">
                    <label>Student's name</label>
                    <select id="studentId" class="form-select" aria-label="Select Student" th:name="studentId" required>
                        <option th:each="student : ${students}" th:value="${student.getId()}" th:text="${student.getUser().getUsername()}"></option>
                    </select>
                    <div class="mb-3">
                        <label for="start" class="form-label">From</label>
                        <input type=datetime-local step=900 class="form-control" id="start" th:field="*{start}" required>
                    </div>
                    <div class="mb-3">
                        <label for="end" class="form-label">to</label>
                        <input type=datetime-local step=900 class="form-control" id="end" th:field="*{end}" required>
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Description</label>
                        <input type="text" class="form-control" id="desc" th:field="*{desc}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
</body>

</html>
